{% extends "layouts/app.jinja2" %}

{% block title %}Su proceso de registro ha terminado con exito{% endblock %}

{% block content %}
    <div class="row justify-content-md-center m-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center" style="background-color:#FCFEFC">
                    <img class="" style="max-height: 200px ;" src="{{url_for('static', filename='img/3de3-registro-ok.gif')}}" alt="Solictud registrada">
                </div>
                <div class="card-body p-5">
                    <h4>
                        Su solicitud de constancia se ha registrado correctamente
                    </h4>
                    <br>
                    <p class="lead mb-4">
                        En unos momentos recibirá un mensaje por correo electrónico con los datos del registro.
                    </p>
                    {% if folio != '' %}
                        <p class="lead mb-4">
                            Se genero el numero de folio  <strong>{{ folio }}</strong>,  con el cual le podra dar seguimiento a su trámite
                        </p>
                    {% endif %}
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="https://pjecz.gob.mx"><button type="button" class="btn btn-verde btn-lg px-4">Ir a pjecz.gob.mx</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
