html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 100%;
  background-color: #037f8c;
}

.sombra {
  box-shadow: 0px 5px 15px black;
}

.footer {
  background-color: #fff;
  color: #666;
  bottom: 0;
  position: fixed;
}

.link-footer {
  color: #555;
}

.link-aviso {
  display: inline-block;
  color: #004360;
  margin-left: -15px;
}

.tramite {
  background-color: #004360;
  color: #fff;
}

.observacion {
  color: cornflowerblue;
  font-style: italic;
}

.btn-verde {
  background-color: #037f8c;
  color: #fff;
}

input[type="file"]::file-selector-button {
  border: 1px solid #023d43;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #037f8c;
  transition: 1s;
  color: #000;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
  color: #555;
}

label {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0px !important;
}

.url-descarga {
  color: #555;
  text-decoration: none;
}

.url-descarga:hover {
  font-weight: bold;
  color: #555;
}
