{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Ingresar datos personales{% endblock %}

{% block content %}
<div class="row justify-content-md-center m-5">
    <div class="col-lg-10 col-md-12 col-sm-12">
        <div class="card mb-5">
            <img src="{{url_for('static', filename='img/3de3-violencia-de-genero.jpeg')}}" class="card-img-top">
            <div class="card-body">
                <h5>Registre sus datos para la constancia</h5>
                {% call f.form_tag('solicitudes.ingresar', fid='solicitudes_ingresar') %}
                <div class="row">
                    <div class="col-md-4">
                        {% call f.form_group(form.nombres) %}{% endcall %}
                    </div>
                    <div class="col-md-4">
                        {% call f.form_group(form.apellido_primero) %}{% endcall %}
                    </div>
                    <div class="col-md-4">
                        {% call f.form_group(form.apellido_segundo) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% call f.form_group(form.curp) %}{% endcall %}
                    </div>
                    <div class="col-md-6">
                        {% call f.form_group(form.telefono) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {% call f.form_group(form.email) %}{% endcall %}
                    </div>
                    <div class="col-md-3">
                        {% call f.form_group(form.municipio) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% call f.form_group(form.colonia) %}{% endcall %}
                    </div>
                    <div class="col-md-4">
                        {% call f.form_group(form.calle) %}{% endcall %}
                    </div>
                    <div class="col-md-2">
                        {% call f.form_group(form.numero) %}{% endcall %}
                    </div>
                    <div class="col-md-2">
                        {% call f.form_group(form.codigoPostal) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% call f.form_group(form.partido) %}{% endcall %}
                    </div>
                    <div class="col-md-4">
                        {% call f.form_group(form.cargo) %}{% endcall %}
                    </div>
                    <div class="col-md-4">
                        {% call f.form_group(form.principio) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% call f.form_group(form.ine) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% call f.form_group(form.comprobante) %}{% endcall %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% call f.form_group(form.autorizacion) %}{% endcall %}
                        <a href="https://storage.googleapis.com/pjecz-gob-mx/Tr%C3%A1mites%20y%20Servicios/17%20Constancia%203%20de%203%20contra%20la%20Violencia%20de%20G%C3%A9nero/Acuerdo%20constancias%203%20de%203.pdf" tarjet="_blank" class="url-descarga">
                            <img src="{{url_for('static', filename='img/3de3-download.png')}}" style="max-width: 25px;">
                            Descargar Formato de Autorización
                        </a>
                    </div>
                </div>
                <br>
                {# call f.form_group(form.recaptcha) %}{% endcall #}
                {% call f.form_group(form.aceptar) %}{% endcall %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% call f.form_group(form.registrar) %}{% endcall %}
                    </div>
                </div>
                {% endcall %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_javascript %}
<!-- reCaptcha Integration -->
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}

